* {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: 'Roboto-Medium';
    src: url('../font/Roboto-Medium.ttf');
    src: local('../font/Roboto-Medium'), local('../font/Roboto-Medium'),
    url('../font/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothicA1-SemiBold';
    src: url('../font/GothicA1-SemiBold.ttf');
    src: local('../font/GothicA1-SemiBold'), local('../font/GothicA1-SemiBold'),
    url('../font/GothicA1-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../font/Roboto-Light.ttf');
    src: local('../font/Roboto-Light'), local('../font/Roboto-Light'),
    url('../font/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


/*секция 1 */
header {
    position: absolute;
    width: 100%;
}

.container {
    max-width: 1188px;
    margin: auto;
}

.flex{
    display: flex;
}

.jcs{
    justify-content: space-between;
}

header img {
    margin-left: -40px;
}

nav ul {
    margin-top: 39px;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-family: 'Roboto-Medium';
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

header ul {
    list-style: none;
    margin-top: 39px;
}

ul li:first-of-type {
    font-family: 'Roboto-Medium';
    margin-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

ul li:last-of-type a {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.descr_info {
    background-image: url("../images/bg1.png");
    background-size: cover;
    height: 81vh;
    padding-top: 170px;
}

.descr_info h1 {
    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    color: #FFFFFF;
    text-shadow: 0px 0px 166px #000000;
    margin-bottom: 30px;
}

.descr_info article {
    max-width: 512px;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 20px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-bottom: 98px;
}

.descr_info article img {
    margin-left: 38px;
    margin-right: 38px;
}

.descr_info article p {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    padding-right: 33px;
}

.descr_info a {
    font-family: 'Roboto-Medium';
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

    border-radius: 10px;
    padding: 20px 48px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
}


/*секция Про нас */
.about_section{
    padding-top: 15px;
    padding-bottom: 160px;
    position: relative;

}

.about_section img{
    display: block;
    width: 100%;
    margin-bottom: 165px;
}

.about_left{
    max-width: 385px;
    width: 100%;
}

.about_left h3{
    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 60px;
}

.about_section .about_left p{
    margin-bottom: 20px;
}

.about_section .about_left p{
    font-family: 'Roboto Light';
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.about_left p strong{
    font-family: 'GothicA1-SemiBold';
}


.about_img{
    max-width: 770px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    right: 0;
}


.about_img img{
    width: 100%;
    display: block;
}

/*секция с фактурами */

.factures img {
    display: block;
    width: 100%;
    margin-bottom: 150px;
}

.factures .container h3{
    margin-left: 96px;
    margin-bottom: 52px;
    text-align: start;

    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
}

.factures .container p{
    text-align: start;
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}
.factures .container .container:first-of-type{
    margin-bottom: 40px;
}

.factures .container .container:last-of-type{
    margin-bottom: 70px;
}

.factures div img{
    max-width: 255px;
    margin-bottom: 20px;
}

.factures a{
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 46px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 150px;

    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

}

.factures .container {
    text-align: center;
}

/*секция видеоотзывы */

.videos{
    background-image: url("../images/videos_bg.jpg");
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 95px;
}

.videos .container h3{
    margin-bottom: 78px;
    margin-left: 95px;

    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}

.videos_overflow {
    max-width: 255px;
    border-radius: 20px;
    overflow: hidden;

}

.videos_overflow img{
    width: 100%;
    margin-bottom: 20px;
}

.videos .container .container div{
    position: relative;
}

.vector_play{
    position: absolute;
    top: 78px;
    left: 97px;
}

.videos .container .container p{
    max-width: 255px;
}

.videos .container .container p:first-of-type{
    margin-bottom: 10px;

    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;

}

.videos .container .container p:last-of-type{
    margin-bottom: 10px;

    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;

}


 /*секция Форма */

.form_section{
    padding-top: 21px;
    padding-bottom: 200px;
}

.form_section img {
    display: block;
    width: 100%;
    margin-bottom: 200px;
}

.left_side {
    width: 410px;
    max-width: 100%;
}

.left_side h3 {
    font-family: 'GothicA1-SemiBold';
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 30px;
}

.text_style {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    margin-bottom: 40px;
    padding-bottom: 5px;

    font-family: 'Roboto Light';
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    opacity: 0.5;
}

.comment {
    resize: none;
    height: 25px;
    margin-bottom: 60px;
}

.left_side button {
    padding: 20px 50px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;
    cursor: pointer;

    font-family: 'Roboto Light';
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

}

.right_side {
    max-width: 615px;
    border-radius: 10px;
    overflow: hidden;


}

.right_side img {
    display: block;
    width: 100%;
}





