* {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: 'Roboto-Medium';
    src: url('../font/Roboto-Medium.ttf');
    src: local('../font/Roboto-Medium'), local('../font/Roboto-Medium'),
    url('../font/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothicA1-SemiBold';
    src: url('../font/GothicA1-SemiBold.ttf');
    src: local('../font/GothicA1-SemiBold'), local('../font/GothicA1-SemiBold'),
    url('../font/GothicA1-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../font/Roboto-Light.ttf');
    src: local('../font/Roboto-Light'), local('../font/Roboto-Light'),
    url('../font/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Bold.eot');
    src: url('../font/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Montserrat-Bold.woff2') format('woff2'),
    url('../font/Montserrat-Bold.woff') format('woff'),
    url('../font/Montserrat-Bold.ttf') format('truetype'),
    url('../font/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*секция 1 */
header {
    position: absolute;
    width: 100%;
}

.container {
    max-width: 1188px;
    margin: auto;
}

.flex{
    display: flex;
}

.jcs{
    justify-content: space-between;
}

header img {
    margin-left: -40px;
}

nav ul {
    margin-top: 39px;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-family: 'Roboto-Medium';
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

header ul {
    list-style: none;
    margin-top: 39px;
}

ul li:first-of-type {
    font-family: 'Roboto-Medium';
    margin-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

ul li:last-of-type a {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.descr_info {
    background-image: url("../images/bg1.png");
    background-size: cover;
    height: 81vh;
    padding-top: 170px;
}

.descr_info h1 {
    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    color: #FFFFFF;
    text-shadow: 0px 0px 166px #000000;
    margin-bottom: 30px;
}

.descr_info article {
    max-width: 512px;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 20px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-bottom: 98px;
}

.descr_info article img {
    margin-left: 38px;
    margin-right: 38px;
}

.descr_info article p {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    padding-right: 33px;
}

.descr_info a {
    font-family: 'Roboto-Medium';
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

    border-radius: 10px;
    padding: 20px 48px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0px 0px 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
}


/*секция Про нас */
.about_section{
    padding-top: 15px;
    padding-bottom: 160px;
    position: relative;

}

.about_section img{
    display: block;
    width: 100%;
    margin-bottom: 165px;
}

.about_left{
    max-width: 385px;
    width: 100%;
}

.about_left h3{
    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 60px;
}

.about_section .about_left p{
    margin-bottom: 20px;
}

.about_section .about_left p{
    font-family: 'Roboto Light';
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.about_left p strong{
    font-family: 'GothicA1-SemiBold';
}


.about_img{
    max-width: 770px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    right: 0;
}


.about_img img{
    width: 100%;
    display: block;
}

/*секция почему мы */
.why_we{
    background-color: #4C6071;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../images/why_bg.svg");
}

.why_we .container h3{
    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-left: 95px;
    margin-bottom: 67px;
}

.preferences{
    max-width: 195px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 162px 30px 50px 30px;
    position: relative;
}

.preferences img{
    margin-bottom: 68px;
    display: block;
    position: absolute;
    left: 103px;
    top: 66px;
}

.preferences:nth-child(2) img{
    left: 97px;
    top: 60px;
}

.preferences:nth-child(3) img{
    left: 95px;
    top: 60px;
}

.preferences:nth-child(4) img{
    left: 104px;
    top: 75px;
}
.preferences p:first-of-type{
    margin-bottom: 10px;

    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}

.preferences p:last-of-type{
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}

/*секция портфолио*/

.portfolio{
    padding-top: 27px;
    padding-bottom: 177px;

}

.portfolio > img{
    display: block;
    width: 100%;
    margin-bottom: 180px;
}

.portfolio .container h3{
    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    margin-left: 95px;
    margin-bottom: 50px;
}

.port_material{
    max-width: 540px;
}

.port_overflow{
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
}

.port_material p{
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;

}

.port_material p:first-of-type{
    margin-bottom: 10px;

    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}

.portfolio div:nth-child(2){
    margin-bottom: 80px;
}


.portfolio a{
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 67px;

    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;


    color: #FFFFFF;
}

.portfolio .container:last-of-type{
    text-align: center;
}


/*секция с фактурами */
.factures{
    padding-top: 31px ;
    padding-bottom: 150px;
}

.factures img {
    display: block;
    width: 100%;
    margin-bottom: 150px;
}

.factures .container h3{
    margin-left: 96px;
    margin-bottom: 52px;
    text-align: start;

    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
}

.factures .container p{
    text-align: start;
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}
.factures .container .container:first-of-type{
    margin-bottom: 40px;
}

.factures .container .container:last-of-type{
    margin-bottom: 70px;
}

.factures div img{
    max-width: 255px;
    margin-bottom: 20px;
}

.factures a{
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 46px;
    text-decoration: none;
    display: inline-block;

    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

}

.factures .container {
    text-align: center;
}

/*секция видеоотзывы */

.videos{
    background-image: url("../images/videos_bg.jpg");
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 95px;
}

.videos .container h3{
    margin-bottom: 78px;
    margin-left: 95px;

    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}

.videos_overflow {
    max-width: 255px;
    border-radius: 20px;
    overflow: hidden;

}

.videos_overflow img{
    width: 100%;
    margin-bottom: 20px;
}

.videos .container .container div{
    position: relative;
}

.vector_play{
    position: absolute;
    top: 78px;
    left: 97px;
}

.videos .container .container p{
    max-width: 255px;
}

.videos .container .container p:first-of-type{
    margin-bottom: 10px;

    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;

}

.videos .container .container p:last-of-type{
    margin-bottom: 10px;

    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;

}


 /*секция Форма */

.form_section{
    padding-top: 21px;
    padding-bottom: 200px;
}

.form_section > img {
    display: block;
    width: 100%;
    margin-bottom: 200px;
}

.left_side {
    width: 410px;
    max-width: 100%;
}

.left_side h3 {
    font-family: 'GothicA1-SemiBold';
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 30px;
}

.text_style {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    margin-bottom: 40px;
    padding-bottom: 5px;

    font-family: 'Roboto Light';
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    opacity: 0.5;
}

.comment {
    resize: none;
    height: 25px;
    margin-bottom: 60px;
}

.left_side button {
    padding: 20px 50px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;
    cursor: pointer;

    font-family: 'Roboto Light';
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;

}

.right_side {
    max-width: 615px;
    border-radius: 10px;
    overflow: hidden;


}

.right_side img {
    display: block;
    width: 100%;
}



/*секция просчета стоимости */

.calculate{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #4C6071;
    background-image: url("../images/why_bg.svg");

}

.calculate .container{
    background: #FFFFFF;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    max-width: 1158px;
}
.calculate .container:first-of-type {
    margin-bottom: 10px;
}

.calculate .container p{
    max-width: 790px;

    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}

.calculate .container:nth-child(2){
    padding-right: 30px;
    max-width: 1128px;
}

.calculate .container:nth-child(2) p{
  margin-bottom: 20px;
}


.questions_bg{
    max-width: 1128px;
    background: #4C6071;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.questions_left{
    width: 362px;
    margin-left: 30px;
    margin-right: 30px;
}

.questions_right{
    margin-right: 50px;
}


.question_form_bg{
    background: #FFFFFF;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 26px 20px 20px;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;

}

.question_form_bg label{
    display: block;
    width: 100%;
    max-width: 250px;

    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.calculate_overflow{
    border-radius: 10px;
    overflow: hidden;
}

.calculate_overflow img{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.questions_right a{
    display: block;
    background: #8F8F8F;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 116px;
    text-decoration: none;

    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
}

.questions_right  a:last-of-type{
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}


footer{
    background-color: #4C6071;
    background-image: url("../images/why_bg.svg");
    padding-top: 50px;
    padding-bottom: 59px;
}

.footer_contacts{
    max-width: 156px;
    width: 100%;

}

.footer_contacts > a{
    text-decoration: none;
    display: inline-block;
    font-family: 'GothicA1-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.icons a{
    display: inline-block;
}

.footer_contacts > p{
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.general_contacts{
    max-width: 360px;
    width: 100%;
    text-align: end;
}

.general_contacts p{
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;

    margin-bottom: 30px;
}




.footer_map {
    margin-left: 131px;
    max-width: 540px;
    height: 146px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;


}

.footer_map_bg{
    background-color: black;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
}

.footer_map p{
    max-width: 350px;
    position: absolute;
    left: 95px;
    top: 45px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    text-shadow: -15px 15px 66px rgba(0, 57, 109, 0.46);

}

